

.article{
	height : 250px;
	
	marquee{
		height : 200px;
	}
}

.row-integral{ 
 	.integraluse{
 	  .span-a{ text-align : center;}
 	  @include border-radius(8px);
		p{
			 margin : 5px;
			 font-size : 12px;
		}
		font-size : 12px;
		h4{
			margin : 7px 0; 
			font-size : 15px;
		}
		.small-pictrue{
		  margin-top:10px;
		  max-height : 50px;
		  max-width : 90px;
		}
	}
}

div.input-pend-small{
  a.add-on , input {
    padding:0px;
  }
  input{
    width :40px;
  }
}

.integraluse {
	height: 250px;
	img {
		max-height: 250px;
	}
	.product-text {
		width: 40%;
		margin: 5%;
	}
	.product-picture, .product-text {
		float: left;
	}
	.product-picture{
	  max-width:100%;
	  max-height: 250px;
	}
}


.restaurant-profile{
  .restaurant-promotion{
    .span7{
      img{
        max-height : 350px;
      }
    }
  }
  
  #popImage_cache{
    img{
      height : 560px !important;
    }
  }
}


#loginpanel {
  @media(max-width : 500px){
    input{
      width : 95%;
    }
    button{
      width : 95%;
    }
  }
}

@media(min-width : 768px){
  .nav .li-member {
    display : none;
  }
}
 
 
.description-up{
  .inner-picture{
    position: relative;height: 240px;overflow: hidden;
    .outside-picture{
      position: absolute;top: 0px;
      img{
        min-height : 240px;
      }
    }
  }
  h6{
    color:#432;
  }
}

.noresults{
  display:none;
  text-align:center;
}

.booking-detail , .value-added , .member-contact , .restaurant-floorplan{
  padding-left : 9px;
  padding-right : 9px;
}


 @media (min-width: 768px) {
   .mirro-margin {
      .control-label{
        width: $horizontalComponentOffset - 90;
      }
      .controls{
        margin-left: $horizontalComponentOffset - 70;
      }
   }
   
   .group-quick-order{
     .control-label{
        width: $horizontalComponentOffset - 100;
      }
      .controls{
        margin-left: $horizontalComponentOffset - 85;
      }
   }
 }




.add-contact{
  input,select{
    margin-bottom : 10px;
  }
}


