/* ==========================================================================
 Fix bugs
 ========================================================================== */

a:hover, a:focus {
	text-decoration: none;
}

.radio.inline input[type="radio"] {
	width: 20px;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */

@import "bootstrap/mixins";
@import "bootstrap/variables";

$imagesFolder: '../images';

.rating {
	.empty-star, .full-star {
		background-repeat: no-repeat;
		float: left;
		margin-right: 5px;
		width: 23px;
		height: 22px;
	}
	.empty-star { background-image: url('#{$imagesFolder}/empty_star_big.png'); }
	.full-star { background-image: url('#{$imagesFolder}/full_star_big.png'); }
}

.masthead {
	background-image: url("#{$imagesFolder}/header_top_bg.gif");
	margin-bottom: 20px;
	.headbar {
		img { height: 100px; margin: 20px; }
	}
	.navbar {
	  @media (max-width: 767px) {
	    margin-left: -20px;
	    margin-right: -20px;
	  }
	}
	.language-list { margin-top: 30px; font-size: 18px; }
	.language-list, .navbar {
		margin-bottom: 0; 
		p, span, a, a:hover, a:focus { color: $grayLighter; }
	}
}

.mastfoot {
	margin-top: 20px;
}

.hero-unit {
	margin-top: -20px;
	.carousel {
	  	margin: -60px;
	  	img { margin: 0 auto; min-width: 100%; }
	}
	@media (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.carousel-box {
	@mixin full-box { width:100%; height:100%; margin:0; padding:0; border-width:0; }
	height: 310px;
	.carousel {
		margin: 1%;
		float: left;
		.carousel-inner { @include full-box; }
		.item { @include full-box; }
		.carousel-caption { padding: 5px; color: $grayLighter; background: transparent url("../images/back009.png");}
		.carousel-control { background: none; border: none; z-index: 1000; top: 70%; }
		img {
			margin: 0 auto;
			min-width: 100% !important;
			min-height: 100% !important;
		}
		&.small {
			width: 48%;
			height: 32.666666%;
			*width: 47.5%;
		}
		&.large {
			width: 98%;
			height: 65.333333%;
		}
	}
}

.float-box {
  	background-color: rgba(200, 200, 200, 0.8);
  	margin-bottom: 20px;
  	padding: 10px;
  	border-radius: 10px;
  	box-shadow: 5px 10px 5px rgba(5, 5, 5, 0.7);
}

.single-restaurant {
	position: relative;
	p { margin-bottom: 0; }
	.btn { margin-top: 10px; }
	.rating {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

%restaurant-box {
	border-bottom: 3px solid #aaa;
	padding: 20px;
	position: relative;
}

.restaurant-description {
	@extend %restaurant-box;
	.carousel {
		.carousel-control { background: none; border: none; z-index: 1000; top: 50%; color: #665544;}
  		img { margin: 0 auto; max-height: 300px; min-height: 300px; width: auto; }
  		margin-bottom: 0;
	}
	.time p{
		margin: 0;
		font-size: 12px;
	}
}

.restaurant-promotion {
	@extend %restaurant-box;
}

.restaurant-review-list {
	@extend %restaurant-box;
	.single-review {
		border-top: 1px dashed #aaa;
		padding: 10px 0;
		ul.inline li { vertical-align: middle; }
	}
}

.restaurant-review {
	@extend %restaurant-box;
	.rating-click {
		.item {
			background-color: #b2a29b;
			border-right: 1px solid #dedede;
			float: left;
			height: 17px;
			line-height: 17px;
			text-align: center;
			width: 20px;
			&:hover { background-color: #866659; cursor: pointer; }
			&.clearItem { background-color: #866659; cursor: pointer; }
		}
	}
}

.restaurant-floorplan {
	.selectableDiv { background-color:#669933; }
	.selectedDiv { background-color:#77513d; }
	.noselectDiv { background-color:#AAAAAA; }
	.selectableDiv, .selectedDiv, .noselectDiv {
		width: 30px;
		height: 30px;
		display:inline-block;
	}
}

.modal#invite-modal {
	width: 700px;
	margin-left: -350px;
}

.value-added {
	.thumbnail img { max-height: 350px; }
	.product-category {
		.product {
			cursor: pointer;
			position: relative;
			img {
				max-width: 90%;
				height: 150px;
				width: auto;
				border: 5px solid $grayLight;
				@include border-radius(10px);
			}
			.selected-hover {
				width: 32px;
				height: 24px;
				position: absolute;
				right: 0;
				top: 0;
				display: none;
				background-image: url('#{$imagesFolder}/selected.png');;
			}
			&.active img { border: 5px solid $grayDark; }
			&.active .selected-hover {
				display: block
			}
		}
	}
}

.usercenter {
	.tabbable { 
		> .nav-tabs {
			min-height: 400px;
			margin-right: 0;
			border-right: 0;
			background-color: #6A3921;
			%active-status { color: #6A3921; background-color: #C9C7C0; }
			li a {
				font-size: 1.1em;
				text-align: right;
				margin-left: 15px;
				border-width: 0;
				color: $grayLighter;
				&:hover, &:focus { @extend %active-status; }
			}
			li.active a { @extend %active-status; }
		}
		> .tab-content { min-height: 400px; padding: 30px 10px; border: 15px solid #C9C7C0; 
		  @media (max-width: 767px){
		    border : none;
		  }
		}
	}
}

.getstarted {
	table, td, tr { border: 0; }
}

#loginpanel {
	
}

.form-register {
	.anniversary [id*=selYear] { display: none; }
}
