 
#nav {
  width: 10em;
  left: 0;
}

#nav ul {
  display: block;
  width: 100%;
  list-style: none;
}

#nav li {
  display: block;
}

#nav a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0, .2);
  border-top: 1px solid rgba(255,255,255, .1);
  display: block;
}

 
#toggle { display: none; }

@media screen and (max-width: 767px) {
  .js #nav {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: relative;
    display: block;
    overflow: hidden;
  }
  #nav {
    top: 0;
    width: 100%;
    position: relative;
  }
  #nav.opened { max-height: 9999px }
 
  #toggle {
      display : block;
      float : right;
   }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  #toggle {
     display : block;
  }
}

@media screen and (min-width: 76em) {
  #nav { width: 10em }
}
