<#import "statics.ftl" as statics>

<@statics.content "关于我们">


<#if (LANGUAGE!"1")="1">

<!--<img src="/front/images/aboutus/about-us-bg.jpg" alt="img" style="width: 1200px;" />-->
	
<h2 class="text-center">关于美位</h2>
<p>2012年初，美位的创始人美国留学工作归来，敏锐地洞察了国内中高端餐饮服务的发展趋势，将满腔热情投入到国内一线订餐网站的建设和服务中，致力于带给消费者全新的美食体验。</p>
<p>2012年7月，美位网成立，以打造沪上高端时尚餐饮指南为基点，秉承“只为最懂得享受的你”的服务宗旨，逐步开启了新的旅程。正式上线后的美位网，集合了百余家中高端餐饮服务合作商，为消费者提供在线选位订餐以及限时折扣优惠等独家创意服务，通过在线操作即可完成一站式订餐流程，还可尊享专车接送、鲜花蛋糕乐队预定等增值服务。除了个人订餐外，美位网还提供企业年会活动、生日派对、婚宴等场地推荐及活动策划服务，为您打造最贴心的“管家式服务”。</p>
<p>在不久的将来，美位网将逐步开拓其他餐饮市场，着眼全球。届时，我们也将坚持始终如一的服务理念，让消费者通过我们的餐饮指南，享受世界各地最优质的餐饮服务。我们相信，美位将在您的一路陪伴下不断成长，带给您全方位的高端餐饮新体验！</p>

<p class="text-right"><small>美位网隶属于上海美位电子商务有限公司</small><p>
<p class="text-right"><small>电话: 021-60515617</small></p>
<p class="text-right"><small>邮箱: contact@clubmeiwei.com</small></p>

	<div class="container-fluid" style="display: none;">
		<p class="lead text-center"  >
 			<span style="text-decoration: line-through;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
 			<span>关于我们</span>
 			<span style="text-decoration: line-through;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
 		</p>
		<div class="row-fluid" >
			<div class="span3 " >
		      <div class="well well-small text-center description-up">
		      	<div  >
		      		<div class="inner-picture"  >
		      			<a target="_blank" href="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" >
							<img src="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" />
						</a>
						<div class="outside-picture"  >
							<img alt="" src="/front/images/background-circle.png">
						</div>
		      		</div>
				</div>
				<p>&nbsp;</p>
		      	<p>BAO</p>
		      	<h6>Artist</h6>
		      	<p>执着于将自身主张的最核心价值做到完美无瑕</p>
		      	<p><a href="#">关注 @BAO</a></p>
		      </div>
		    </div>
		    <div class="span3">
		      <div class="well well-small text-center description-up">
		      	<div>
		      		<div class="inner-picture"  >
		      			<a target="_blank" href="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" >
							<img src="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" />
						</a>
						<div class="outside-picture"  >
							<img alt="" src="/front/images/background-circle.png">
						</div>
		      		</div>
				</div>
				<p>&nbsp;</p>
		      	<p>BAO</p>
		      	<h6>Artist</h6>
		      	<p>执着于将自身主张的最核心价值做到完美无瑕</p>
		      	<p><a href="#">关注 @BAO</a></p>
		      </div>
		    </div>
		    <div class="span3">
		      <div class="well well-small text-center description-up">
		      	<div>
		      		<div class="inner-picture"  >
		      			<a target="_blank" href="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" >
							<img src="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" />
						</a>
						<div class="outside-picture"  >
							<img alt="" src="/front/images/background-circle.png">
						</div>
		      		</div>
				</div>
				<p>&nbsp;</p>
		      	<p>BAO</p>
		      	<h6>Artist</h6>
		      	<p>执着于将自身主张的最核心价值做到完美无瑕</p>
		      	<p><a href="#">关注 @BAO</a></p>
		      </div>
		    </div>
		
			<div class="span3">
		      <div class="well well-small text-center description-up">
		      	<div>
		      		<div class="inner-picture"  >
		      			<a target="_blank" href="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" >
							<img src="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" />
						</a>
						<div class="outside-picture"  >
							<img alt="" src="/front/images/background-circle.png">
						</div>
		      		</div>
				</div>
				<p>&nbsp;</p>
		      	<p>BAO</p>
		      	<h6>Artist</h6>
		      	<p>执着于将自身主张的最核心价值做到完美无瑕</p>
		      	<p><a href="#">关注 @BAO</a></p>
		      </div>
		    </div>
		</div>
		
	</div>
<#else>

<!--<img src="/front/images/aboutus/about-us-bg.jpg" alt="img" style="width: 1200px;" />-->
    
<h2 class="text-center">About Meiwei</h2>
<p>At the beginning of 2012, the founder of Meiwei came back from the USA, spotted the development trend for high-end catering service, she devoted herself to the establishment of a first-class reservation website, aimed at bring brand new dining experience to all consumers.</p>
<p>Clubmeiwei was born in July, 2013, based on the principle of "building a guide for high-end catering services in Shanghai", and "serve only for the one who know the truth of enjoyment", Clubmeiwei started its journey. Cooperated with over a hundred high-end restaurants, Meiwei provide consumers with services such as online reservation, table selection ,time-share discount, along with value-add services such as car renting, flower and cake ordering, band booking. In addition to individual reservation, Clubmeiwei also provide services such as business conference arrangement, party and wedding planning，activity planning,etc.  We will create a most considerate "concierge type service" for you.</p>
<p>In the near future, Clubmeiwei will broad its market, focus on the whole world. We will keep our principle in heart, enable our consumers to enjoy high-end catering service from all over the world through our guide. We believe that with your company, Meiwei will continue in progressing, bring you omnibearing high-end dining experience.</p>

<p class="text-right"><small>Clubmeiwei is attach to MeiWei E-business Co.,Ltd.</small><p>
<p class="text-right"><small>Tel: 021-60515617</small></p>
<p class="text-right"><small>E-mail: contact@clubmeiwei.com</small></p>

    <div class="container-fluid" style="display: none;">
        <p class="lead text-center"  >
            <span style="text-decoration: line-through;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>关于我们</span>
            <span style="text-decoration: line-through;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </p>
        <div class="row-fluid" >
            <div class="span3 " >
              <div class="well well-small text-center description-up">
                <div  >
                    <div class="inner-picture"  >
                        <a target="_blank" href="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" >
                            <img src="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" />
                        </a>
                        <div class="outside-picture"  >
                            <img alt="" src="/front/images/background-circle.png">
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <p>BAO</p>
                <h6>Artist</h6>
                <p>执着于将自身主张的最核心价值做到完美无瑕</p>
                <p><a href="#">关注 @BAO</a></p>
              </div>
            </div>
            <div class="span3">
              <div class="well well-small text-center description-up">
                <div>
                    <div class="inner-picture"  >
                        <a target="_blank" href="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" >
                            <img src="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" />
                        </a>
                        <div class="outside-picture"  >
                            <img alt="" src="/front/images/background-circle.png">
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <p>BAO</p>
                <h6>Artist</h6>
                <p>执着于将自身主张的最核心价值做到完美无瑕</p>
                <p><a href="#">关注 @BAO</a></p>
              </div>
            </div>
            <div class="span3">
              <div class="well well-small text-center description-up">
                <div>
                    <div class="inner-picture"  >
                        <a target="_blank" href="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" >
                            <img src="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" />
                        </a>
                        <div class="outside-picture"  >
                            <img alt="" src="/front/images/background-circle.png">
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <p>BAO</p>
                <h6>Artist</h6>
                <p>执着于将自身主张的最核心价值做到完美无瑕</p>
                <p><a href="#">关注 @BAO</a></p>
              </div>
            </div>
        
            <div class="span3">
              <div class="well well-small text-center description-up">
                <div>
                    <div class="inner-picture"  >
                        <a target="_blank" href="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" >
                            <img src="http://hoathunganhoa.files.wordpress.com/2013/03/18915260aa70c4d01aad42aaa4ff2487_800_1167.jpeg?w=440" />
                        </a>
                        <div class="outside-picture"  >
                            <img alt="" src="/front/images/background-circle.png">
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <p>BAO</p>
                <h6>Artist</h6>
                <p>执着于将自身主张的最核心价值做到完美无瑕</p>
                <p><a href="#">关注 @BAO</a></p>
              </div>
            </div>
        </div>
        
    </div>


</#if>

</@statics.content>
