<#import "statics.ftl" as statics>

<@statics.content "商户合作">

<#if (LANGUAGE!"1")="1">

<h1 class="text-center">商户合作</h1>
<p>美位是基于网页及手机两大版本，集合百余家中高端餐饮服务合作商，为消费者提供实时在线选位定餐服务的电子商务平台。美位致力于为消费者提供便捷，尊贵的定位用餐体验。同时，美位又将竭力帮助合作商户通过将空置桌位加以折扣的方式推广, 提高运营效率, 实现零成本推广。</p>
<p class="lead">选择美位的理由：</p>
<ol>
	<li>美位会员是一群热爱美食，注重生活品质的潜在消费群体。</li>
	<li>美位为合作商户提供了一个更开放，更多元的品牌展示平台。</li>
	<li>美位为合作商户提供顾问式营销方案，为您的在线推广提供专业的建议。</li>
</ol>
<p>即刻加入我们，您可直接发送邮件至contact@clubmeiwei.com，我们会及时与您取得联系！</p>

<#else>

<h1 class="text-center">Restaurants Partnership</h1>
<p>MeiWei is an e-commerce platform, connecting thousands of high-end restaurants, providing consumers with real-time online reservation service via website and mobile phone app. Meiwei aims at offering consumers with sufficient and top-grade reservation and dining experience. On the other hand, Meiwei focuses on helping partners to raise occupancy rate by setting different kinds of discounts, in the end, result in raising operation efficiency and succeed in zero cost marketing promotion.</p>
<p class="lead">Why choose MeiWei:</p>
<ol>
	<li>Mewei members are a group of potential consumers that love gourmet and focus on quality of life.</li>
	<li>Meiwei offers partners an open and diversified platform for brand promotion.</li>
	<li>Meiwei provides partners with advisory marketing plan, gives professional suggestions for your online promotion.</li>
</ol>
<p>To join us now, you can send an e-mail to contact@clubmeiwie.com , we will contact you as soon as possible.</p>
	
</#if>

</@statics.content>
