<#import "statics.ftl" as statics>

<@statics.content "人才招聘">

<div class="container-fluid" style="font-size: 0.9em;">
	<div class="row-fluid">
		<h1 class="text-center">人才招聘</h1>
		<h5 class="text-center">诚邀各界精英人才加入我们的团队，请将您的简历发送至：hr@clubmeiwei.com</h5>
	</div>
	
	<div class="row-fluid">
		<div class="span5">
			<div class="well well-large" style="height:410px">
				<h4 class="text-center">前端/网页开发工程师(数名)<br />Web Development Engineer</h4>
				<p>我们寻找对餐饮休闲等服务业产品开发感兴趣的工程师和设计师。希望应聘者关注互联网产品，热衷于改善用户体验，注重外观设计和交互设计；同时学习能力强，能快速适应环境，并具有基本的英语读写水平。来到美位以后将参与以下一项或多项任务：</p>
				<p>1. 设计简单易用功能完善的用户界面</p>
				<p>2. 使用HTML5开发iOS和Android手机应用</p>
				<p>3. 优化页面设计和性能，减少与原生应用在外观和感觉上的差异</p>
				<h5>技术要求</h5>
				<p>1. 熟悉 HTML5和CSS3，了解手机浏览器最前沿的开发技术</p>
				<p>2. 熟悉JavaScript，了解Backbone.js, Ember.js等前台MVC设计模式</p>
				<p>3. 重视细节，代码规范易读</p>
				<p>4. 独立开发过网页或者手机应用者优先</p>
			</div>
		</div>
		<div class="span7">
			<div class="well well-large" style="height:410px">
				<h4 class="text-center">后台开发工程师(数名)<br />Development Engineer</h4>
				<p>美位的目的并不只是为了便利人们的生活，也并不只是为了提供优质的服务或者华丽的产品，我们希望它能给予人们随时随地享受生活的权利。我们寻找充满创业激情的工程师，有独立解决问题的能力，学习能力强，能快速适应环境，并具有基本的英语读写能力。来到美位以后将参与以下一项或多项后台功能的开发：</p>
				<p>1. 搜集和整理签约商户的详细物料，制定服务类信息发布格式的规范，开发服务平台API</p>
				<p>2. 设计可自定义服务的商户后台，并提供可视化的业务分析功能</p>
				<p>3. 协助主要餐厅和商户进行后台接入</p>
				<p>4. 开发基本的搜索引擎与推荐系统</p>
				<h5>技术要求</h5>
				<p>1. 熟悉Django, Ruby on Rail, PHP, Node.js等任一种服务器脚本语言</p>
				<p>2. 熟悉MySQL, NoSQL或MongoDB等数据库开发</p>
				<p>3. 有REST API开发经验，代码规范，思路清晰，参加或贡献过开源项目者优先</p>
				<p>4. 有网页或者手机应用开发经验者优先</p>
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span4">
			<div class="well well-small" style="height:440px">
				<h4 class="text-center">网站文案主管/专员（数名）</h4>
				<h5>工作职责：</h5>
				<p>1. 协助完成网站相关栏目/频道的信息搜集、编辑、审校等工作；</p>
				<p>2. 协助进行微博活动以及其他营销推广活动的策划和执行；</p>
				<p>3. 完成信息内容的策划和网站日常更新与维护；</p>
				<p>4. 配合市场部完成推广文案的撰写；</p>
				<p>5. 有一定的活动策划能力。</p>
				<h5>任职条件：</h5>
				<p>1. 具备一定的写作功底，思维活跃，创意能力强；</p>
				<p>2. 善于沟通，具备团队合作精神；</p>
				<p>3. 中文系专业优先；</p>
				<p>4. 有美食网站编辑经验者优先考虑；</p>
				<p>5. 对市场策划工作有一定经验者优先考虑。</p>
			</div>
		</div>
		<div class="span5">
			<div class="well well-small" style="height:440px">
				<h4 class="text-center">客户服务（数名）</h4>
				<h5>工作职责：</h5>
				<p>1. 通过电话或在线等形式为用户提供咨询服务，受理用户问题；</p>
				<p>2. 跟踪用户问题处理进度并向用户反馈；</p>
				<p>3. 发掘用户需求，对用户意见及建议及时记录提报；</p>
				<p>4. 对于用户的问题能及时、有效地进行处理解决，认真负责地为用户利益考虑，以追求用户满意为目标。</p>
				<h5>任职条件：</h5>
				<p>1. 大专或大专以上学历，专业不限；</p>
				<p>2. 有一年以上电话客户服务相关工作经历，过往工作表现优秀；</p>
				<p>3. 语言流利、逻辑性强，善于进行电话沟通以及网络即时交流；</p>
				<p>4. 能适应轮班工作，有良好的服务意识，善于沟通，较具亲和力；</p>
				<p>5. 电脑操作熟练，中文输入速度较快；</p>
				<p>6. 热爱饮食，希望在互联网行业长期发展。</p>
			</div>
		</div>
		<div class="span3">
			<div class="well well-small" style="height:440px">
				<h4 class="text-center">英文书面翻译（数名）</h4>
				<h5>工作职责：</h5>
				<p>1. 英文听说读写流利，英文专业毕业优先考虑；</p>
				<p>2. 有一定的餐饮行业翻译工作经验者优先考虑；</p>
				<p>3. 能在约定的时间内，及时完成翻译交稿。</p>
				<h5>任职条件：</h5>
				<p>1. 优秀的英语翻译功底；</p>
				<p>2. 对餐饮行业有所熟悉；</p>
				<p>3. 工作责任心强，能及时完成相关稿件的翻译。</p>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="well well-small" style="height:560px">
				<h4 class="text-center">网站营运总监（1名）</h4>
				<h5>工作职责：</h5>
				<p>1. 熟练利用各种互联网资源、相关行业网络媒体、论坛、博客、SNS等方式开展网站推广工作，提高网站访问量及传播效果，不断开发并整合更多更好的推广资源，同时做好公司产品的线上推广（SEM、CPS、EDM等）；</p>
				<p>2. 分析网站及各频道的关键词解决方案，监控网站关键字，监控和研究竞争对手及其他网站相关做法，并围绕优化提出合理的网站调整建议；</p>
				<p>3. 制定短期和中长期线上推广目标、推广预算，保证实践推广目标并控制预算；负责网站PV、PR、访问量等综合指标；</p>
				<p>4. 策划并实施公司项目的网络口碑营销计划、搜索引擎营销计划、网络推广营销计划，完成各项指标和任务；</p>
				<p>5. 审核推广效果分析报告，通过对推广资源数据及客户反馈的分析，不断调整推广策略，使推广资源得到最大化利用；</p>
				<p>6. 跨部门沟通，与各部门负责人进行跨部门协调、沟通，确保策略、执行的统一性。</p>
				<h5>任职条件：</h5>
				<p>1. 大学本科及以上学历，市场营销、广告学、汉语文学等专业；</p>
				<p>2. 五年以上网络营销（SEO、SEM、CPS、EDM，论坛BBS、SNS等）经验，3年以上网络营销团队管理经验，熟悉SEM、EDM、BBS、SNS（微博）、CPS联盟、QQ群、活动营销、病毒式营销等多种网络营销工具；</p>
				<p>3. 熟悉至少一种网站分析工具comScore、Omniture、WebTrends、GoogleAnalytics工具,有较强的数据分析能力；</p>
				<p>4. 了解搜索引擎自然排名规则和网站优化技巧，熟悉SEO原理和实施方法，熟悉搜索引擎优化技术，做好网站的seo工作：诸如关键字优化，meta标签优化，每个网页的meta描述，标题优化，网址URL内嵌关键字优化等，并积极交换优质外链。</p>
				<p>5. 有成功网站推广经验和丰富的互联网资源者优先。（如网站站长、联盟、媒体资源等），具有世界500强公司市场推广工作经验或4A广告公司线上工作经验者尤佳；</p>
				<p>6. 文字功底扎实，有较强的策划、文案撰写能力，能独立策划并撰写活动全案，书写各种宣传软文；有一定的英语基础；具备一定的代码知识及网页制作能力；</p>
				<p>7. 心态好，为人处事作风好，踏实、勤奋，工作积极主动，服从安排，具备较强的团队合作精神和工作责任感；并能够不拘于现有形式自我创新。</p>
			</div>
		</div>
	</div>
</div>

</@statics.content>
