<#import "statics.ftl" as statics>

<@statics.content "常见问题">
<#if (LANGUAGE!"1")="1">
<h1 class="text-center">常见问题</h1>
					
<ol>
	<li>
		<p>美位网是什么？</p>
		<p>美位网是目前唯一一家定位于中国，基于网页及手机两大版本，集合了百余家中高端餐饮服务合作商，为消费者提供在线选位订餐服务以及限时折扣优惠的电子商务平台。美位网秉承“只为最懂得享受的你”的服务宗旨，为美位会员提供尊贵便捷的全方位美食体验。</p>
	</li>
	<li>
		<p>美位网的特色服务有哪些？</p>
		<p>美位网为消费者实现在线一站式订餐流程，并提供在线选位、预订鲜花和蛋糕、租车接送等增值服务。通过对会员消费习惯的记录与分析，美位还将有针对性地为会员推送餐厅信息。除了日常订餐外，美位网还为企业用户设置贴心的“私人管家服务”，为企业用户出行的餐饮安排提供优质和信心的保证。</p>
	</li>
	<li>
		<p>为什么选择美位而不直接在餐厅订餐的理由？</p>
		<ul>
			<li>美位的每一家合作商户，都经过美位团队的严格筛选，保证了您的用餐品质与体验；</li>
			<li>美位提供一站式用餐服务，为您的餐饮预订节省了时间与精力；</li>
			<li>美位提供在线餐厅菜单、酒单浏览功能，供您提前浏览；</li>
			<li>美位的合作商户为美位会员提供专享限时折扣，在会员生日、重要纪念日也会提供相应的优惠活动；</li>
			<li>美位会员将有机会受邀作为美位评审团的“神秘客人”体验美位订座用餐的整个流程，并为我们留下宝贵的建议和意见</li>
			<li>美位还在会员专区为美位会员提供了丰富的积分兑换礼品及丰厚的抽奖机会。</li>
		</ul>
		<p></p>
	</li>
	<li>
		<p>什么是限时折扣？</p>
		<p>美位网会为消费者提供各家餐厅分时段的专享优惠，最新餐厅优惠信息可以在网站首页搜索。</p>
	</li>
	<li>
		<p>如何在线选桌位？</p>
		<p>美位网站上每一家餐厅的展示页面都附带矢量桌位图，会员可以根据自己的喜好，选择理想的桌位。绿色标示可选桌位，咖啡色标示您已经选择的桌位。</p>
	</li>
	<li>
		<p>为什么会出现不能选桌位的情况？</p>
		<p>可能由于消费者的浏览器版本问题，而导致无法选定桌位，建议使用
			<a href="http://www.google.cn/intl/zh-CN/chrome/browser/">Chrome<strong>(点击下载)</strong></a>, 
			<a href="http://firefox.com.cn">Firefox<strong>(点击下载)</strong></a>, 
			<a href="http://www.apple.com.cn/safari/">Safari<strong>(点击下载)</strong></a>, 
			<a href="http://windows.microsoft.com/zh-cn/internet-explorer/downloads/ie-9/">IE9<strong>(点击下载)</strong></a>
			以上版本的浏览器</p>
	</li>
	<li>
		<p>订餐时候选择的桌位是最终的么？</p>
		<p>最终用餐桌位以到店后餐厅提供的实际桌位为准，不过我们会尽量为您安排您所选择的桌位。</p>
	</li>
	<li>
		<p>如何修改订单？</p>
		<p>消费者确认提交订单之前可以返回修改，一旦确认则无法修改，只能在会员中心取消订单并重新下单。</p>
	</li>
	<li>
		<p>如何修改用户名和邮箱？</p>
		<p>如果您想修改您的用户名或注册邮箱，请根据首页上的电话提示联系我们的客服人员。</p>
	</li>
</ol>
<#else>

<h1 class="text-center">Q&A</h1>
					
<ol>
	<li>
		<p>What is Meiwei?</p>
		<p>MeiWei is the only e-commerce platform in China that connects thousands of high-end restaurants, provides consumers with real-time online reservation service and timeshare discount via website and mobile phone app. Meiwei sticks to the principle of "serving only for you who know the truth of enjoyment", provides our members with omnibearing noble and convenient dining experience.</p>
	</li>
	<li>
		<p>What are Meiwei’s special offers? </p>
		<p>Meiwei provides consumers with one-stop reservation process, besides, we also offers extra services such as online table selection, flower and cake booking, car renting. According to our member's consuming habits, Meiwei will send each individual member with different restaurant recommendations. 
In addition to ordinary reservation, Meiwei will arrange "Private Butler" for corporate members, insure the best quality of service for our members.</p>
	</li>
	<li>
		<p>Why not make reservation directly with the restaurant?</p>
		<ul>
			<li>All Meiwei's cooperate restaurants are selected by strict standard to make sure that you will be served with best quality</li>
			<li>Meiwei provides one-stop dining service, saves time and energy for you.</li>
			<li>On our website, Meiwei provides restaurant menu and wine list.</li>
			<li>Meiwei's cooperate restaurants will provide timeshare discount only for Meiwei's members, there will also be special offer on the date of member's birthday or other important anniversaries.</li>
			<li>Meiwei's members will have the opportunity to be invited as a "mysterious guest “to experience the whole dining service of Meiwei and give feedback suggestions.</li>
			<li>Meiwei provides various kinds of vouchers and gifts for our members.</li>
		</ul>
		<p></p>
	</li>
	<li>
		<p>What’s the meaning of “timeshare discount”?</p>
		<p>It measns that restaurants will set different discounts for different dining hours only for Meiwei members.</p>
	</li>
	<li>
		<p>How to select table online?</p>
		<p>On Meiwei's website, there will be table plans on every restaurant's page, members can choose their preferred tables according to their own taste. Green color means available while brown means the table you've chosen. </p>
	</li>
	<li>
		<p>Why sometimes I can't choose a table?</p>
		<p>
		Sometimes because of the version of the browser you were using will cause the problem that you cannot choose a table, we recommend that you use these browsers:<a href="http://www.google.cn/intl/zh-CN/chrome/browser/">Chrome<strong>(Download)</strong></a>, 
			<a href="http://firefox.com.cn">Firefox<strong>(Download)</strong></a>, 
			<a href="http://www.apple.com.cn/safari/">Safari<strong>(Download)</strong></a>, 
			<a href="http://windows.microsoft.com/zh-cn/internet-explorer/downloads/ie-9/">IE9<strong>(Download)</strong></a>.
		</p>
	</li>
	<li>
		<p>Will the table I choose while making reservation be the final arrangement?</p>
		<p>The final arrangement will be the table that restaurant provide when you arrive, but we will do all we can to arrange the table you have chosen for you.</p>
	</li>
	<li>
		<p>How to modify my reservation?</p>
		<p>You can modify your reservation any time before you press the "confirm" button, but after confirmation you will not be able to change it, the only solution is to go to the "Member Center", cancel your reservation and make a new one. </p>
	</li>
	<li>
		<p>How to modify "username" and "e-mail address"?</p>
		<p>If you want to change your username or registered e-mail address, please call our custom service using the number on the front page.</p>
	</li>
</ol>
</#if>
</@statics.content>
