<#import "statics.ftl" as statics>

<@statics.content "服务条款">
<#if (LANGUAGE!"1")="1">
<h1 class="text-center">服务条款</h1>
<p>用户在接受美位网（以下简称&ldquo;本网站&rdquo;）服务之前，请您仔细阅读如下服务条款：</p>
<p>您确认本服务条款后，本服务条款即在您和本网站之间产生法律效力，请您务必在注册之前认真阅读全部服务条款，如有疑问，可向本网站咨询。</p>
<ol>
	<li>
		<p>本网站服务条款的确认：</p>
		<p>本网站的各项服务所有权与运作权均归上海美位电子商务有限公司所有。</p>
	</li>
	<li>
		<p>用户必须：</p>
		<p>（1）自行配备上网所需设备，包括个人电脑、调制解调器或其他必备上网装置。</p>
		<p>（2）自行负担个人上网所支付的与此服务有关的电话费用、网络费用。</p>
	</li>
	<li>
		<p>用户在本网站上交易平台上不得发布下列违法信息：</p>
		<p>（1）反对宪法所确立的基本原则的；</p>
		<p>（2）危害国家安全，泄露国家机密，颠覆国家政权，破坏国家统一的；</p>
		<p>（3）损害国家荣誉和利益的；</p>
		<p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
		<p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
		<p>（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
		<p>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
		<p>（8）侮辱或者毁谤他人，侵害他人合法权益的；</p>
		<p>（9）含有法律、行政法规禁止的其他内容的。</p>
	</li>
	<li>
		<p>有关个人资料：</p>
		<p>用户同意以下条款：</p>
		<p>（1）提供及时、详细且准确的个人资料。</p>
		<p>（2）同意接收来自本网站的信息。</p>
		<p>（3）不断更新注册资料，符合及时、详细准确的要求。所有原始键入的资料将引用为注册资料。</p>
		<p>（4）本网站不公开用户的姓名、地址和电子邮箱等信息，以下情况除外：</p>
		<p>（a）用户授权本网站透露这些信息；</p>
		<p>（b）相应的法律及程序要求本网站提供用户的个人资料。如果用户提供的资料包含不正确信息，本网站保留结束用户使用本网站信息信息服务资格的权利。</p>
	</li>
	<li>
		<p>电子邮件的接收：</p>
		<p>用户在注册时应当选择稳定性及安全性相对较好的电子邮箱，并且同意接受并阅读本网站向用户发送的电子邮件。如用户未及时从自己的电子邮箱接受电子邮件，或因用户电子邮箱本身的问题使电子邮件无法正常接收或阅读的，只要本网站成功发送了邮件，都视为用户已经接受到相关的电子邮件。电子邮件在发信服务器上所记录的发出时间视为送达时间。</p>
	</li>
	<li>
		<p>服务条款的修改：</p>
		<p>本网站有权在必要时修改服务条款，本网站服务条款一旦发生变动，将会在重要页面上提示修改内容。如果不同意所改动的内容，用户可以主动取消获得的本网站信息服务。如果用户继续享用本网站信息服务，则视为接受服务条款的变动。本网站保留随时修改或中断服务而不需通知用户的权利。本网站行使修改或中断服务的权利，不需对用户或第三方负责。</p>
	</li>
	<li>
		<p>用户隐私制度：</p>
		<p>本网站尊重用户个人隐私，所以，除非有法律、法规强制性规定，本网站一定不会在未经合法用户授权时公开、编辑或透露其注册资料及保存在本网站中的非公开内容。</p>
	</li>
	<li>
		<p>用户的账号、密码及安全性：</p>
		<p>本网站的用户需保管好自己的账号和密码安全，并对其账户中的所有活动负全部责任。用户可根据指示随时改变自己的密码。用户同意若发现任何非法使用用户账号或安全漏洞的情况，请立即通知本网站。</p>
	</li>
	<li>
		<p>拒绝提供担保：</p>
		<p>用户明确同意信息服务的使用由用户个人承担风险。本网站不担保服务不会受中断，对服务的及时性，安全性，出错发生都不作担保，但会在能力范围内，避免出错。</p>
	</li>
	<li>
		<p>有限责任：</p>
		<p>本网站对任何直接、间接、偶然、特殊及继起的损害不负责任，这些损害来自：不正当使用本网站服务，或用户传送的信息不符合规定等。这些行为都有可能导致本网站形象受损，所以本网站事先提出这种损害的可能性，同时会尽量避免这种损害的发生。</p>
	</li>
	<li>
		<p>信息的储存及限制：</p>
		<p>本网站有判定用户的行为是否符合本网站服务条款的要求和精神的权利，如果用户违背本网站服务条款的规定，本网站有权中断其服务的账号。</p>
	</li>
	<li>
		<p>用户管理：</p>
		<p>用户必须遵循：</p>
		<p>（1）使用信息不作非法用途；</p>
		<p>（2）不干扰或混乱网络服务；</p>
		<p>（3）遵守所有使用服务的网络协议、规定和程序。用户的行为准则是以因特网法规、政策、程序和惯例为根据的。</p>
	</li>
	<li>
		<p>保障：</p>
		<p>用户同意保障和维护本网站全体成员的利益，负责支付由用户使用超出服务范围引起的律师费用，违反服务条款的损害补偿费用，其他人使用用户的电脑、账号和其它知识产权的追索费。</p>
	</li>
	<li>
		<p>结束服务：</p>
		<p>用户或本网站可随时根据实际情况中断一项或多项服务。本网站不需对任何个人或第三方负责而随时中断服务。用户若反对任何服务条款的建议或对后来的条款修改有异议，或对本网站服务不满，用户可以行使如下权利：</p>
		<p>（1）不再使用本网站服务；</p>
		<p>（2）通知本网站停止对该用户的服务。</p>
		<p>结束用户服务后，用户使用本网站服务的权利马上终止。即刻起，用户没有权利，本网站也没有义务传送任何未处理的信息或未完成的服务给用户或第三方。</p>
	</li>
	<li>
		<p>通告：</p>
		<p>所有发送给用户的通告都可通过重要页面的公告或电子邮件的形式传达。服务条款的修改、服务变更或其他重要事件的通告都会以此形式进行。</p>
	</li>
	<li>
		<p>法律：</p>
		<p>本网站信息服务条款要与中华人民共和国的法律解释一致。用户和本网站一致同意服从本网站所在地有管辖权的法院管辖。如发生本网站服务条款与中华人民共和国法律相抵触时，则这些条款将完全按照法律规定重新解释，而其它条款则依旧保持对用户的约束力。</p>
	</li>
</ol>
<#else>

<h1 class="text-center">TERMS</h1>
<p>Before accepting Clubmeiwei’s services, users must read the following terms carefully：</p>
<p>The term will come into legal effect between you and this website after your confirmation, so please read these terms carefully before registration. If any question occurs, you can consult our website.</p>
<ol>
	<li>
		<p>The confirmation of the terms of this website</p>
		<p>Both the proprietary and operation rights of the services of this restaurant are belong to MeiWei E- business Co., Ltd. </p>
	</li>
	<li>
		<p>The users should:</p>
		<p>（1）Provide them with equipment’s that used for access to the internet, which including personal computer, Modem and any other essential equipments for internet access.</p>
		<p>（2）Pay for internet fee and telephone fee caused by their personal use of internet that relate to this service. </p>
	</li>
	<li>
		<p>Users should not release on the platform of this website illegal information that:</p>
		<p>（1）Against the basic principle established by the Constitution.</p>
		<p>（2）Threat national security, unleash national secret. </p>
		<p>（3）Undermine national honor and profit.</p>
		<p>（4）Incite ethnic hatred or discrimination, undermine national unity.</p>
		<p>（5）Undermine national policy on religion, publicize cult and superstition.</p>
		<p>（6）Spread rumors, disturb public order, and undermine public stability.</p>
		<p>（7）Spread obscene, salacity, gamble, violence, murder, terrific or instigate to crime.</p>
		<p>（8）Insult or slander others, infringe other people's rights.</p>
		<p>（9）Other issue that is forbidden by law and administrative statutes.</p>
	</li>
	<li>
		<p>About personal information</p>
		<p>Users should agree with the following terms:</p>
		<p>（1）Provide accurate personal information on time.</p>
		<p>（2）Agree to receive information from this website。</p>
		<p>（3）Upgrade registration information rapidly, all original information will be count as registration information。</p>
		<p>（4）This website will not release users' personal information as name, address, e-mail to the public, except for the following situations：</p>
		<p>（a）Users have authorized this website to release this information；</p>
		<p>（b）Corresponding law and process ask the website to provide user's personal information, if there's any inaccurate information in the data that users provide, this website will maintain the right to end the service provided for the user。</p>
	</li>
	<li>
		<p>Receiving E-mail</p>
		<p>Users should register with stable and better secured e-mail address, agree to receive the information this website send, if users haven't received the e-mail in time, or because of the problem with the mailbox e-mail cannot be properly read, as long as this website had sent the mail successfully, it will be seen as the users have received the mail. The recorded time on the sending end will be count as the receiving time.</p>
	</li>
	<li>
		<p>The modification of the terms</p>
		<p>This website has the right to change the terms when necessary, once the terms have been changed, we will modify the text on the important pages, if do not agree with the changed issues, users can cancel the information service of this website. If users keep on using the service, it will be seen as accept the change. This website will keep the right to change the terms at any time and do not inform the users. This website will take no responsibility when using this right.</p>
	</li>
	<li>
		<p>Private policy:</p>
		<p>This website respect users personal privacy, if not be demanded by law or statute, the website will not release, edit or user’s personal information saved on the website without permission.</p>
	</li>
	<li>
		<p>The security of user's account and code. </p>
		<p>The users of this website should keep their own account and code in a safe place, take full responsibility for all issues in their account. Users can change the code at any time. If users discover any illegal use of account or security bug, please inform the website as soon as possible.</p>
	</li>
	<li>
		<p>Refuse to provide guarantee. </p>
		<p>Users make sure to agree that all risk when using the service should be taken by user him/herself. This website does not guarantee that the service won’t stop, that the service won't be wrong or be late or has security problems, but we will try our best to avoid them. </p>
	</li>
	<li>
		<p>limited responsibility:</p>
		<p>This website will take no responsibility for any damage cause by direct、indirect harm or accident etc., this damage may come from: the wrong use of the service of the website, or the information the users sent does not in accordance with the rules. All this actions may cause the damage of the website's image; the website will try our best to avoid them. </p>
	</li>
	<li>
		<p>Information storage and limitation.</p>
		<p>This website has the right to determine whether the user's action is in accordance with our terms or not, if the users violate the terms, this website has the right to end the service account.</p>
	</li>
	<li>
		<p>User management：</p>
		<p>Users must：</p>
		<p>（1）Not use the information for illegal reasons；</p>
		<p>（2）Not disturb or cause havoc with internet service；</p>
		<p>（3）Obey all agreements, rules and process about using the service, user’s code of contact is based on laws of internet, policy process and regulations。</p>
	</li>
	<li>
		<p>Guarantee：</p>
		<p>Users should agree to guarantee the profit of the whole members of this website, pay the lawyer fee if users use out range services, compensation if users violate the terms, recovery fee if others use user's computer, account or other intellectual property。</p>
	</li>
	<li>
		<p>end of service：</p>
		<p>Users or this website can end one or multiple services according to actual situation. This website shall take no responsibility to any personal or third party when ending service. If users do not agree with the terms or the changed terms, or not satisfied with the service, then can</p>
		<p>（1）Stop using the service；</p>
		<p>（2）Inform this website to stop providing the service.</p>
		<p>After the end of the service, users' right to use this website's service will immediately come to an end. Users will have no rights, and this website will bear no obligation to send any unfinished information or service to user or third party.</p>
	</li>
	<li>
		<p>Notice：</p>
		<p>All notice sent to users will be in the form of e-mail or displayed on important pages of the website, including the change of terms or service or any other issues.</p>
	</li>
	<li>
		<p>Jurisdiction：</p>
		<p>These terms should be in accordance with the legal interpretation of People's Republic of China, users and this website shall both agree to be under the jurisdiction of the location of this website. If there's any violation of law in these terms, then these terms will be interoperated anew, other terms shall keep their power.</p>
	</li>
</ol>

</#if>
</@statics.content>
