html,body {
	margin: 0; /* Remove body margin/padding */
	padding: 0; //
	overflow-Y: auto; /* Remove scroll bars on browser window */ //
	overflow-X: hidden;
	font-family: "宋体", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

img {
	border: 0;
}

#LeftPane { /* optional, initial splitbar position */
	overflow: auto;
}
/* Right-side element of the splitter */
#RightPane {
	padding: 2px;
	overflow: auto;
}

.ui-tabs-nav li {
	position: relative;
}

.ui-tabs-selected a span {
	padding-right: 10px;
}

.ui-tabs-close {
	display: none;
	position: absolute;
	top: 3px;
	right: 0px;
	z-index: 800;
	width: 16px;
	height: 14px;
	font-size: 10px;
	font-style: normal;
	cursor: pointer;
}

.ui-tabs-selected .ui-tabs-close {
	display: block;
}

.ui-layout-west .ui-jqgrid tr.jqgrow td {
	border-bottom: 0px none;
}

.ui-datepicker {
	z-index: 1200;
}

.rotate { /* for Safari */
	-webkit-transform: rotate(-90deg);
	/* for Firefox */
	-moz-transform: rotate(-90deg);
	/* for Internet Explorer */
	filter: progid : DXImageTransform.Microsoft.BasicImage ( rotation = 3 );
}

#tabs .tabpreloading {
	background: url(themes/loading.gif) 50% 50% no-repeat;
}